<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIFontDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>107</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EA68436A19A306FD00CA3A76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA68438519A306FD00CA3A76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
